*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html, body, #root{
  width: 100%;
  height: 100%;
}
main{
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  background-color: #232323;
}

main .left,
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}
main .left{
  background-color: #1a1a1a;
  position: relative;
}

.left .code,
.code pre,
.code pre code{
  height: 100%;
  width: 100%;
  margin: 0rem;
  border-radius: 0.7rem;
  background-color: #212121;
  color:rgb(72, 165, 222);
  overflow: auto;
}
main .left .upload{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: rgb(219, 219, 255);
  color: black;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
main .left .upload-file input{
  position: absolute;
  bottom: 1rem;
  left: 0.5rem;
  color: white;
  font-weight:bolder;
  padding: 0.2rem 1rem;
}
main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem 1.7rem;
  background-color: rgb(219, 219, 255);
  color: black;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
main .left .fix{
  position: absolute;
  bottom: 1rem;
  right: 8rem;
  padding: 0.3rem 1.7rem;
  background-color: rgb(219, 219, 255);
  color: black;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  border-radius: 0.7rem;
}
main .right{
  background-color: #343434;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.rem;
  overflow: auto;
}
.typing {
  font-style: italic;
  color: gray;
  margin-bottom: 10px;
}